---
layout: default
pagination:
    enabled: true
    collection: eventos
---

<header id="eventos-header" class="page-header">
    <div class="container">
        <div class="center">
            <h1 class="bolder hide-on-med-on-and-down">{{ page.title }}</h1>
            <h4 class="bolder hide-on-med-on-and-down">{{ page.title }}</h4>
        </div>
    </div>
</header>

<section id="evento-gallery" class="section scrollspy">
    <div class="container">
        <section class="section-grid">
            {% for item in paginator.posts %}
                <div class="card-hoverable z-depth-5">
                    <div class="card-image">
                        <img data-src="{{ item.image-cover }}" alt="{{ item.title }}" class="lazy">
                    </div>

                    <div class="card-content">
                        <span class="card-title">{{ item.title }}</span>

                        <span class="light">{{ item.date | date_to_string }}</span>
                    </div>

                    <div class="card-action">
                        <a href="{{ item.url }}" class="btn waves-effect waves-light">Veja Mais <i class="fas fa-image"></i></a>

                        <a href="#ModalEvento-{{ item.title }}" class="btn-flat waves-effect waves-light modal-trigger" style="border: solid 1px #fff;">Veja Mais</a>
                    </div>
                </div>
            {% endfor %}
        </section>

        {% include pages/pagination.html %}
    </div>
</section>