<style>
    .page-header {
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url({{ page.image-cover }});
    }
</style>

<header class="page-header">
    {% include nav/navbar.html %}

    <div class="container header-content">
        <h1 class="hide-large-only">{{ page.title }}</h1>
        <h4 class="hide-large-only">{{ page.title }}</h4>
        
        <a href="" class="btn waves-effect waves-light">Encomende Já!</a>
        <a href="#section" class="btn-flat waves-effect waves-light white-text" style="border: 1px solid #fff;">Veja Mais</a>
    </div>
</header>