<section class="section">
    <h4 class="bolder">Pratos da Semana</h4>
    
    <div class="section-grid section">
        {% for item in site.prato-do-dia %}
            <div class="pratos-container">
                <img data-src="{{ item.image }}?nf_resize=fit&w=300" alt="{{ item.title }}" class="lazy">
                <div class="text">
                    <p class="light">Prato da {{ item.publish-day }}</p>
                    <p class="bolder">{{ item.title }}</p>
                    <p>{{ item.price }} MT</p>
                </div>
            </div>
        {% endfor %}
    </div>
</section>