{% for item in site.prato-do-dia %}
    {% if item.publish %}
        <style>
            .page-header {
                background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url({{ item.image }});
            }
        </style>

        <header class="page-header">
            {% include nav/navbar.html %}

            <div class="header-content container">
                {% include home/main-content.html %}
                <a href="#prato-do-dia" class="btn-large btn-flat white-text waves-effect waves-light hide-on-large-only modal-trigger" style="border: 1px solid #fff;">Veja Mais</a>
                <a href="https://wa.me/258844466768?text=Olá%20Mistura%20Fina!%20Gostaria%20de%20encomendar%20o%20Prato%20do%20dia" class="btn-large waves-effect waves-light">Reserve Já! <i class="fab fa-whatsapp"></i></a>
            </div>
        </header>
    {% endif %}
{% endfor %}