{% for item in site.prato-do-dia %}
    {% if item.publish %}
        <style>
            .page-header {
                background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url({{ item.image }});
            }
        </style>

        <header class="page-header">
            {% include nav/navbar.html %}

            <div class="container header-content">
                <h3>Prato do Dia</h3>
                <h5 class="light">({{ item.publish-day }})</h5>
                <h2>{{ item.title }}</h2>
                
                <a href="https://wa.me/258844466768?text=Olá%20Mistura%20Fina!%20Gostaria%20de%20encomendar%20o%20Prato%20do%20dia" class="btn-large waves-effect waves-light">Reserve Já!</a>
                <a href="#prato-do-dia" class="btn-flat waves-effect waves-light white-text modal-trigger" style="border: 1px solid #fff;">Veja Mais</a>
            </div>
        </header>
    {% endif %}
{% endfor %}